@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 >CONTROL DE INGRESOS/GASTOS</h1>
    <p class="lead ">Desarrollado por Francisco Medina</p>
    <p><a></a></p>
</div>


<div class="row">
    <a href="@Url.Action("Index","IngresoGastosJFs")" class="btn btn-primary">Ir a Ingresos/Gastos</a>
</div>